extends layout

block main
  h1= title
  div.byline
    - var pubdate = moment(publishDate).format("YYYY-MM-DD")
    - var moddate =  moment(modifyDate).format("YYYY-MM-DD")
    time(datetime='#{pubdate}') #{pubdate}
    if modifyDate && moment(publishDate).isBefore(modifyDate)
      |  (updated #[time(datetime='#{moddate}') #{moddate}])
    | 
    address by #[a(href='mailto:#{email}') #{author}]
  div.content!= contents
