extends layout

block main
  h1= title
  div.byline
    time(datetime='#{moment(publishDate).format("YYYY-MM-DD")}') #{moment(publishDate).format("YYYY-MM-DD")}
    if modifyDate && moment(publishDate).isBefore(modifyDate)
      | 
      | (updated
      | 
      time(datetime='#{moment(modifyDate).format("YYYY-MM-DD")})') #{moment(modifyDate).format("YYYY-MM-DD")})
    | 
    address by #{author}
  div.content!= contents
